#index-view {
    display: grid;
    grid-template-areas: "forecastView forecastView forecastView forecastView" ". futureForecastView futureForecastView . " ". graphFilter graphView . ";
    grid-template-rows: 400px 220px calc(100vh - 100px);
    grid-template-columns: 30px 300px calc(100% - 420px) 30px;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    margin-bottom: 50px;
    width: 100%;
}

#weather_forecast {
    position: relative;
    grid-area: forecastView;
    box-sizing: border-box;
    height: inherit;
    width: inherit;
    font-family: Arial;
    display: grid;
    grid-template-areas: "datasource datasource datasource" ". . ." "temp visual ." "forecastTimestamp forecastTimestamp forecastTimestamp" "forecastMore forecastMore forecastMore";
    grid-template-columns: repeat(2, min-content) auto;
    grid-auto-rows: 40px 20px min-content 20px 40px;
    padding: 0 50px;
    align-content: center;
    align-items: center;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

#weather_forecast-background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(/Content/Home/Images/karlskrona_background.jpg) no-repeat center center / cover;
}

#weather_forecast-temp {
    grid-area: temp;
    color: #fff;
    font-size: 6em;
    line-height: 0.8em;
    margin-bottom: -0.25em;
    margin-left: -0.05em;
}

    #weather_forecast-temp span#weather_forecast-temp-degC {
        color: rgb(210,210,210);
        font-size: 0.4em;
    }

#weather_forecast-visual {
    grid-area: visual;
}

    #weather_forecast-visual svg {
        width: 60px;
        height: 60px;
        fill: #fff;
    }

    #weather_forecast-visual p {
        margin: 0;
        text-align: center;
        white-space: nowrap;
        font-size: 18px;
        color: #fff;
    }

#weather_forecast-time_updated {
    grid-area: forecastTimestamp;
    color: rgb(180,180,180);
}

#weather_forecast-data_source {
    grid-area: datasource;
}
    #weather_forecast-data_source a {
        grid-area: datasource;
        font-size: 14px;
        color: rgb(220,220,220);
        text-decoration: none;
    }
        #weather_forecast-data_source a:hover {
            color: white;
            text-decoration: underline;
        }

#weather_forecast-city {
    position: absolute;
    top: 0;
    left: 50px;
    margin-top: 15px;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #fff;
}

#weather_forecast-info {
    grid-area: forecastMore;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.weather_forecast-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    color: #fff;
    margin-right: 20px;
}

    .weather_forecast-info-item div span {
        margin-left: 5px;
    }

    .weather_forecast-info-item svg {
        width: 17px;
        height: 17px;
        fill: #fff;
        margin-right: 7px;
    }
/*
    Future forecast
*/
#weather_forecast-future {
    grid-area: futureForecastView;
}

#weather_forecast-future-title {
    margin-bottom: 10px;
    height: 20px;
    line-height: 20px;
    font-family: Arial;
    font-size: 18px;
    color: rgb(0, 148, 255);
}

#weather_forecast-future-content {
    position: relative;
    height: 190px;
    width: 100%;
    border-radius: 15px;
    background: rgb(245,245,245);
    overflow: hidden;
}

#weather_forecast-future-content_wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

    #weather_forecast-future-content_wrap::-webkit-scrollbar {
        height: 5px;
    }

    #weather_forecast-future-content_wrap::-webkit-scrollbar-track {
        background: transparent;
        margin: 0 20px;
    }

    #weather_forecast-future-content_wrap::-webkit-scrollbar-thumb {
        background: rgb(180,180,180);
        border-radius: 3px;
    }

        #weather_forecast-future-content_wrap::-webkit-scrollbar-thumb:hover {
            background: rgb(150,150,150);
        }

#weather_forecast-future-content p {
    position: relative;
    margin: 20px;
}

.weather_forecast-future-content-item {
    box-sizing: border-box;
    min-width: 180px;
    height: 100%;
    padding: 15px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .weather_forecast-future-content-item:hover {
        background: rgb(0, 148, 255);
    }

.weather_forecast-future-content-item-timestamp {
    font-size: 17px;
    color: rgb(120,120,120);
    margin-bottom: 20px;
    margin-top: -20px;
}

.weather_forecast-future-content-item-description {
    margin-top: 5px;
    font-size: 15px;
    color: rgb(60,60,60);
}

.weather_forecast-future-content-item-temp {
    font-size: 21px;
    font-weight: 600;
    margin-top: 10px;
}

.weather_forecast-future-content-item:hover div {
    color: #fff;
}

.weather_forecast-future-content-item-visual {
    width: 45px;
    height: 45px;
}

    .weather_forecast-future-content-item-visual svg {
        fill: rgb(60,60,60);
    }

.weather_forecast-future-content-item:hover .weather_forecast-future-content-item-visual svg {
    fill: #fff;
}
/*
    Graph - Filter
*/
#graph-filter {
    grid-area: graphFilter;
    background-color: rgb(245,245,245);
    border-radius: 15px;
}

/*
    Graph - View
*/
#graph-view {
    grid-area: graphView;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graph-view-graph_cont {
    position: relative;
    padding-bottom: 56.25%;
    width: 80%;
}

#myChart {
    position: absolute;
    top: 0;
    left: 0;
}

#graph-view img {
    width: 80%;
    border-radius: 15px;
    border: 2px solid rgb(240,240,240);
}
